/* fonts import Google fonts  */

/* DM Serif - header font  */
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap");

/* Google sans code - general font */
@import url("https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap");

/* global style */
:root {
    --primary-font: "DM Serif Text", serif;
    --secondary-font: "Google Sans Code", monospace;
    --primary-color: #feb234; /* Gold */
    --secondary-color: #e5e5e5; /* Grey */
    --highlight-color: #ffffff; /* white */
    --highlight-color-dark: #111c36; /* Navy */
    --black-color: #000000; /* black */
}

body {
    font-family: var(--secondary-font);
    /* font color is set to navy while screen is white. */
    color: var(--highlight-color-dark);
}

h1,
h2,
h3 {
    font-family: var(--primary-font);
    color: var(--primary-color);
}

p {
    font-family: var(--secondary-font);
    color: var(--secondary-color);
}

/* header styling  */
body {
    margin: 0%;
}

.header-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 20%;
    background-image: url(/assets/images/star-banner-resized.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.header-text {
    font-size: x-large;
    padding-top: 20px;
    letter-spacing: 0.2rem;
}

.header-slogan {
    font-size: small;
    text-align: center;
}

/* footer styling */
footer {
    color: var(--primary-color);
    background-color: var(--black-color);
    /* TO to - to turn on sticky code once the main is added: 
    min-height: 100vh; */
}

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}
